<div class="box sidebox about">
  <div class="sidebox-title">About</div>
  <div class="sidebox-content">
    <p>{{@blog.description}}</p>

    <!--Change this to your homepage-->

  </div>
</div>

<!--Change the links to your sites-->
<div class="sidebox box social clearfix">
  <ul>

    <a href="http://wilsonyu.io/tag/lifelessons" target="_blank" class="social-item rss"><li><i class="fa fa-university"></i></li></a>
    
    <a href="http://wilsonyu.io/tag/technology/" target="_blank" class="social-item tw"><li><i class="fa fa-television"></i></li></a>
    
    <a href="http://wilsonyu.io/tag/food" target="_blank" class="social-item home"><li><i class="fa fa-cutlery"></i></li></a>

    <a href="http://wilsonyu.io/tag/random/" target="_blank" class="social-item github"><li><i class="fa fa-reorder"></i></li></a>
    

  </ul>

</div>

<div class="box sidebox latest-articles">
  <div class="sidebox-title">Latest Articles</div>
  <div class="sidebox-content loading">
    <div class="loader">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
</div>

